@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

    <div class="containerOne text-center">
        <h1 class="text-danger">Error.</h1>
        @if (ViewBag.Message != null)
        {
            <h3 class="text-danger">@ViewBag.Message</h3>
        }
        else
        {
            <h2 class="text-danger">An error occurred while processing your request.</h2>
        }
    </div>
