
@{
    ViewBag.Title = "About";
}

<form>
    <div class="row grey-bg-color" style="margin-top: 4rem;">
        <div class="mx-auto phenomena-sm display-3  pb-2">
            ABOUT US
        </div>
        <div class="card-header phenomena-sm float-right mt-3">
            <nav class="nav nav-pills nav-justified">
                <a class="nav-item nav-link active" href="aboutUs.html">About Us</a>
                <a class="nav-item nav-link" href="founders.html">Founders</a>

            </nav>
        </div>
        <div class="white-bg-color col-md-12 col-sm-12 rounded p-3 phenomena-sm">
            <div class=" phenomena-sm display-4 pl-4 pb-3 " style="color: #a80000; font-weight: 900;">
                <b>VIVEDY</b>
            </div>
            <p class="pl-4 pr-4 " style="color: #202020; font-size: 1.15rem;">
                From its small beginnings, VIVEDY
                cinemas have become one of the
                world's leading entertainment corporations. VIVEDY cinemas started in New Zealand has become
                available around the world and
                owns and operates over <b>1,000</b> cinemas with over <b>8,000</b> screens and more than
                <b>1,000,000</b> seats.
            </p>
            <p class="pl-4 pr-4 " style="color: #202020; font-size: 1.15rem;">
                Find your local VIVEDY cinema <a href="#" class="text-link"><u>HERE</u></a>.
            </p>
            <h5 class="pl-4 pr-4 " style="color: #202020;"><b>VIVEDY Careers</b></h5>

            <p class="pl-4 pr-4 " style="color: #202020; font-size: 1.15rem; padding-top: -1.5rem;">
                Here at VIVEDY, we know that our people are our greatest asset. We currently employ over 1,000,000
                employees and are constantly
                on the lookout for people who are adaptable, passionate and innovative to join our team. As an Equal
                Opportunity Employer,
                we recognise that our employees are all unique in their life experiences, skills and ability. We try
                to empower our workforce,
                and value the range of backgrounds that represent our employees through diversity and flexibility.
                We’re here to help prepare you for a career with VIVEDY.
            </p>
            <p class="pl-4 pr-4 " style="color: #202020; font-size: 1.15rem;">
                VIVEDY cinemas employ more than 2,300 staff and is an equal opportunity employer. We employ the
                services of anyone, from high
                school leavers to IT and account professionals. We employ 100's of new staff every year for all
                manner of positions.
            </p>
            <p class="pl-4 pr-4 " style="color: #202020; font-size: 1.15rem;">
                To find out how to join the team, click <a href="#" class="text-link"><u>HERE</u></a>.
            </p>
        </div>
    </div>
</form>
