
@{
    ViewBag.Title = "About";
}

<div>
    <div class="container grey-bg-color" style="margin-top: 4rem;">
        <div class="mx-auto phenomena-sm display-3 text-center  pb-2">
            ABOUT US
        </div>
        <div class="white-bg-color col-md-12 col-sm-12 rounded p-3 phenomena-sm">
            <div class=" phenomenaThree text-center " style="color: #a80000;">
                <b>VIVEDY</b>
            </div>
            <p class="pl-4 pr-4 " style="color: #202020; font-size: 1.15rem;">
                From its small beginnings, VIVEDY
                cinemas have become one of the
                world's leading entertainment corporations. VIVEDY cinemas started in New Zealand has become
                available around the world and
                owns and operates over <b>1,000</b> cinemas with over <b>8,000</b> screens and more than
                <b>1,000,000</b> seats.
            </p>
            <h5 class="pl-4 pr-4 " style="color: #202020;"><b>VIVEDY Careers</b></h5>

            <p class="pl-4 pr-4 " style="color: #202020; font-size: 1.15rem; padding-top: -1.5rem;">
                Here at VIVEDY, we know that our people are our greatest asset. We currently employ over 1,000,000
                employees and are constantly
                on the lookout for people who are adaptable, passionate and innovative to join our team. As an Equal
                Opportunity Employer,
                we recognise that our employees are all unique in their life experiences, skills and ability. We try
                to empower our workforce,
                and value the range of backgrounds that represent our employees through diversity and flexibility.
                We’re here to help prepare you for a career with VIVEDY.
            </p>
            <p class="pl-4 pr-4 " style="color: #202020; font-size: 1.15rem;">
                VIVEDY cinemas employ more than 2,300 staff and is an equal opportunity employer. We employ the
                services of anyone, from high
                school leavers to IT and account professionals. We employ 100's of new staff every year for all
                manner of positions.
            </p>
        </div>
        <h2>Contact</h2>

        <address>
            64 Broadway<br />
            Newmarket, Auckland 1023<br />
        </address>

        <address>
            <strong>Contact Email:</strong>   <a class="text-link" href="vivedycinemas@gmail.com">Vivedycinemas@gmail.com</a><br />
        </address>
    </div>
</div>
