<h2>Contact us</h2>

<address>
    64 Broadway<br />
    Newmarket, Auckland 1023<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>