@{
    ViewBag.Title = "Admin | Scanner";
}

<main class="containerOne">
    <section id="content">
        <div class="mb-4 phenomena-sm">
            <h1 class="display-5 text-center">SCANNER</h1>
        </div>
        <video id="video" style="width: 100%; object-fit: cover;"></video>
        <div class="">
            <button class="btn btn-danger pl-5 pr-5 pt-2 pb-2 mt-3 phenomena-sm" id="changeSourceButton" style="display: none;">
                <i class="fas fa-camera"></i>
            </button>
        </div>
    </section>
    <div id="myModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 id="myModalTitle" class="phenomena text-center"></h5>
                </div>
                <div class="mt-2 text-center" style="font-size: 5rem">
                    <i id="modalIcon"></i>
                </div>
                <div class="modal-body">
                    <p id="myModalBody" class=" phenomena text-center" style="color: black"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</main>

@section Scripts{
    <script type="text/javascript" src="https://unpkg.com/&#64;zxing/library@0.18.3/umd/index.js"></script>
    @Scripts.Render("~/bundles/Scanner")
}