
@{
    ViewBag.Title = "Admin | Home";
}
<div class="containerOne">

    <div class="bodysidebar" id="body-pd">

        <div class="l-navbar" id="nav-bar">
            <nav class="navsidebar">
                <div id="body-pd">
                    <div class="nav__list">

                        <div id="header">
                            <div class="header__toggle nav__link">
                                <i class="fas fa-bars"></i>
                                <span class="nav__name">VIVEDY</span>
                            </div>
                        </div>

                        <a href="#" class="nav__link activesidebar">
                            <i class="fas fa-home"></i>
                            <span class="nav__name">Home</span>
                        </a>

                        <a href="#" class="nav__link">
                            <i class="fas fa-video"></i>
                            <span class="nav__name">Movies</span>
                        </a>

                        <a href="#" class="nav__link">
                            <i class="fas fa-clock"></i>
                            <span class="nav__name">Rotation</span>
                        </a>

                        <a href="#" class="nav__link">
                            <i class="fas fa-users"></i>
                            <span class="nav__name">Users</span>
                        </a>

                        <a href="#" class="nav__link">
                            <i class="fas fa-book"></i>
                            <span class="nav__name">Bookings</span>
                        </a>
                    </div>

                </div>
                <a href="#" class="nav__link">
                    <i class="fas fa-qrcode"></i>
                    <span class="nav__name">Scanner</span>
                </a>
            </nav>
        </div>

        <h1>Components</h1>
        <h1>Components</h1>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <!--===== MAIN JS =====-->
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/Scripts/AdminSideBar")
    }