
@{
    ViewBag.Title = "Admin | Home";
}
<div class="body" id="body-pd">

    <div class="l-navbar" id="nav-bar">
        <div class="navsidebar">
            <div>
                <!--
                    <a href="#" class="nav__logo phenomena">
                        <i class="fas fa-layer-group"></i>
                        <span class="nav__logo-name ">VIVIEDY</span>
                    </a>
                 -->
                <div class="nav__list">
                    <a href="#" class="nav__link active">
                        <i class="fas fa-home"></i>
                        <span class="nav__name phenomenaSideBar">Home</span>
                    </a>

                    <a href="#" class="nav__link">
                        <i class="fas fa-users"></i>
                        <span class="nav__name phenomenaSideBar">Users</span>
                    </a>

                    <a href="#" class="nav__link">
                        <i class="fas fa-video"></i>
                        <span class="nav__name phenomenaSideBar">Movies</span>
                    </a>

                    <a href="#" class="nav__link">
                        <i class="fas fa-clock"></i>
                        <span class="nav__name phenomenaSideBar">Rotaions</span>
                    </a>

                    <a href="#" class="nav__link">
                        <i class="fas fa-exclamation-circle"></i>
                        <span class="nav__name phenomenaSideBar">idk</span>
                    </a>

                    <a href="#" class="nav__link">
                        <i class="fas fa-exclamation-circle"></i>
                        <span class="nav__name phenomenaSideBar">idk</span>
                    </a>
                </div>
            </div>

            <a href="#" class="nav__link">
                <i class="fas fa-qrcode"></i>
                <span class="nav__name phenomenaSideBar">Scanner</span>
            </a>
        </div>
    </div>
    <div class="containerOne">
        <h1>Components</h1>
        <p>Give Hameburger a diffrent z-index vaule to not be affected by the sidebar expanding</p>
        <div class="headersidebar" id="header">
            <div class="header__toggle text-secondary">
                <i class="fas fa-bars" id="header-toggle"></i>
            </div>
        </div>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/Scripts/AdminSideBar")
}