<div id="SmallSeatsLayout">
    <div class="row ">
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">A1</div>
        </div>
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">A2</div>
        </div>
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">A3</div>
        </div>
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">A4</div>
        </div>
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">A5</div>
        </div>
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">A6</div>
        </div>
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">A7</div>
        </div>
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">A8</div>
        </div>
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">A9</div>
        </div>
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">A10</div>
        </div>
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">A11</div>
        </div>
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">A12</div>
        </div>
    </div>
    <div class="row ">
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">B1</div>
        </div>
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">B2</div>
        </div>
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">B3</div>
        </div>
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">B4</div>
        </div>
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">B5</div>
        </div>
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">B6</div>
        </div>
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">B7</div>
        </div>
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">B8</div>
        </div>
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">B9</div>
        </div>
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">B10</div>
        </div>
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">B11</div>
        </div>
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">B12</div>
        </div>
    </div>
    <div class="row ">
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">C1</div>
        </div>
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">C2</div>
        </div>
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">C3</div>
        </div>
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">C4</div>
        </div>
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">C5</div>
        </div>
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">C6</div>
        </div>
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">C7</div>
        </div>
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">C8</div>
        </div>
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">C9</div>
        </div>
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">C10</div>
        </div>
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">C11</div>
        </div>
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">C12</div>
        </div>
    </div>
    <div class="row ">
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">D1</div>
        </div>
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">D2</div>
        </div>
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">D3</div>
        </div>
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">D4</div>
        </div>
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">D5</div>
        </div>
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">D6</div>
        </div>
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">D7</div>
        </div>
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">D8</div>
        </div>
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">D9</div>
        </div>
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">D10</div>
        </div>
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">D11</div>
        </div>
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">D12</div>
        </div>
    </div>
    <div class="row ">
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">E1</div>
        </div>
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">E2</div>
        </div>
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">E3</div>
        </div>
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">E4</div>
        </div>
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">E5</div>
        </div>
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">E6</div>
        </div>
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">E7</div>
        </div>
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">E8</div>
        </div>
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">E9</div>
        </div>
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">E10</div>
        </div>
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">E11</div>
        </div>
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">E12</div>
        </div>
    </div>
    <div class="row ">
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">F1</div>
        </div>
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">F2</div>
        </div>
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">F3</div>
        </div>
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">F4</div>
        </div>
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">F5</div>
        </div>
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">F6</div>
        </div>
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">F7</div>
        </div>
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">F8</div>
        </div>
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">F9</div>
        </div>
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">F10</div>
        </div>
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">F11</div>
        </div>
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">F12</div>
        </div>
    </div>
    <div class="row ">
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">G1</div>
        </div>
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">G2</div>
        </div>
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">G3</div>
        </div>
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">G4</div>
        </div>
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">G5</div>
        </div>
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">G6</div>
        </div>
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">G7</div>
        </div>
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">G8</div>
        </div>
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">G9</div>
        </div>
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">G10</div>
        </div>
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">G11</div>
        </div>
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">G12</div>
        </div>
    </div>
</div>


