<div id="SmallSeatsLayout">
    <div class="row ">
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">A1</div>
        </div>
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">A2</div>
        </div>
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">A3</div>
        </div>
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">A4</div>
        </div>
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">A5</div>
        </div>
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">A6</div>
        </div>
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">A7</div>
        </div>
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">A8</div>
        </div>
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">A9</div>
        </div>
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">A10</div>
        </div>
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">A11</div>
        </div>
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">A12</div>
        </div>
    </div>
    <div class="row ">
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">B1</div>
        </div>
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">B2</div>
        </div>
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">B3</div>
        </div>
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">B4</div>
        </div>
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">B5</div>
        </div>
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">B6</div>
        </div>
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">B7</div>
        </div>
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">B8</div>
        </div>
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">B9</div>
        </div>
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">B10</div>
        </div>
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">B11</div>
        </div>
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">B12</div>
        </div>
    </div>
    <div class="row ">
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">C1</div>
        </div>
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">C2</div>
        </div>
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">C3</div>
        </div>
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">C4</div>
        </div>
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">C5</div>
        </div>
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">C6</div>
        </div>
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">C7</div>
        </div>
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">C8</div>
        </div>
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">C9</div>
        </div>
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">C10</div>
        </div>
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">C11</div>
        </div>
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">C12</div>
        </div>
    </div>
    <div class="row ">
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">D1</div>
        </div>
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">D2</div>
        </div>
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">D3</div>
        </div>
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">D4</div>
        </div>
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">D5</div>
        </div>
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">D6</div>
        </div>
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">D7</div>
        </div>
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">D8</div>
        </div>
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">D9</div>
        </div>
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">D10</div>
        </div>
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">D11</div>
        </div>
        <div class="gray-box col-lg-1 col-md-2 col-sm-4 col-6">
            <div class="seatLable">D12</div>
        </div>
    </div>
</div>
