@{
    ViewBag.Title = "Confirmation | Booking";
}

<div class="jumbotron text-center">
    <h2>Booking Confirmation</h2>
    <hr style="width:40%" />
    <div class="progress">
        <div class="progress-bar bg-danger" role="progressbar" style="width: 100%;" aria-valuemin="0" aria-valuemax="100">100% Confirmation</div>
    </div>
    <hr style="width:40%" />
    <div>
        <p>
            Your booking has been confirmed. Please check you email for the reciept.
        </p>
        <p>
            You can also view your booking at your @Html.ActionLink("account page", "Index", "Accounts").
        </p>
        <div class="row mt-5 justify-content-center">
            <a href="/Movies/Index" class="btn btn-danger ml-3 pl-4 pr-4 pb-2 pt-2">Find more movies</a>
        </div>
    </div>
</div>