@model IEnumerable<string>
<b>Hi @Model.First()</b>
<br />
<p>
    You have changed your email address on our website.
</p>
<p>
    Please follow the <a href="@Model.Last()">link</a> to confirm your email address on <a href="@Request.Url.Host/Home/Index">vivedy.azurewebsites.net</a>.
</p>
