@model IEnumerable<string>
<b>Hi @Model.First()</b>
<br />
<p>
    Please follow the <a href="@Model.Last()">link</a> to reset password for your account on <a href="@Request.Url.Host/Home/Index">vivedy.azurewebsites.net</a>.
</p>
