<hgroup class="title">
    <h1>Booking Confirmation</h1>
</hgroup>
<div>
    <p>
        Your booking has been confirmed. Please check you email for the reciept.
        You can also view your booking in your @Html.ActionLink("account page", "Index", "Accounts").
    </p>
</div>