
@{
    ViewBag.Title = "Booking Confirmation";
}

<div class="jumbotron text-center">
    <h2>Booking Confirmation</h2>
    <div>
        <p>
            Your booking has been confirmed. Please check you email for the reciept.
        </p>
        <p>
            You can also view your booking at your @Html.ActionLink("account page", "Index", "Accounts").
        </p>
    </div>
</div>