@model VivedyWebApp.Models.MoviesBookingTimeViewModel 

@{ 
    ViewBag.Title = "BookingTime";
}


<div class="jumbotron">
    <div class="row text-center">
        <div class="col-lg-9 col-sm-12 ">
            <div class="card text-center mb-5">
                <div class="card-header">
                    <ul class="nav nav-pills card-header-pills">
                        <li class="nav-item">
                            <a href="#" class="btn btn-danger">Time</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Movies/BookingSeats">Seats</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Movies/BookingPay">Payment</a>
                        </li>

                    </ul>
                </div>
                <div class="card-body align-self-center">
                    <h5 class="card-title">Booking Times</h5>
                    <p class="card-text">Select a time to watch your movie</p>
                    <div class="row mt-5 ">
                        <div class="">
                            @foreach(var rotation in Model.Rotations)
                            {
                                <a href="/Movies/BookingSeats @rotation.RotationId"></a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-12">
            <div class="card mb-5">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Movie Name</h5>
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of
                        the card's
                        content.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
