@model IEnumerable<VivedyWebApp.Models.Movie>

@{
    ViewBag.Title = "Movies";
}

<div class="jumbotron">
    @foreach (var item in Model)
    {
        <div class="container mb-5">
            <div class="card topborder mb-3">
                <div class="img-hover-zoom">
                    <a href="/Movies/Details?id=@item.MovieId">
                        <img class="fadeimage card-img-top"
                             src="https://cdn.eventfinda.co.nz/uploads/events/transformed/1496455-655043-34.jpg?v=2"
                             alt="Image Failed to load">
                        <div class="middle">
                            <div class="movietext">Click to Contuniue <i class="fas fa-external-link-alt"></i> </div>
                        </div>
                    </a>
                </div>
                <a href="/Movies/Details?id=@item.MovieId">
                    <div class="card-body">
                        <p class="card-text"> @item.Name </p>
                    </div>
                </a>
            </div>
        </div>
    }

</div>