@model IEnumerable<VivedyWebApp.Models.Movie>

@{
    ViewBag.Title = "Movies";
}

<div class="jumbotron">
    <h1 style="color: #a80000;" class=" display-2 phenomena2 text-center">Movies</h1>
    @foreach (var item in Model)
    {
        <div class="container mb-5">
            <div class="card topborder mb-3">
                <div class="img-hover-zoom">
                    <a href="/Movies/Details?id=@item.MovieId">
                        <img style="max-height:20rem; min-height:42rem; object-fit:cover" class="fadeimage card-img-top"
                             src="/Content/Images/@item.MovieId-HorizontalPoster.png"
                             alt="Image Failed to load">
                        <div class="middle">
                            <div class="movietext">Click to Contuniue <i class="fas fa-external-link-alt"></i> </div>
                        </div>
                    </a>
                </div>
                <a href="/Movies/Details?id=@item.MovieId">
                    <div class="card-body">
                        <p class="card-text"> @item.Name </p>
                    </div>
                </a>
            </div>
        </div>
    }

</div>