@{
    ViewBag.Title = "Reset password confirmation";
}

<div class="containerOne">
    <hgroup class="title">
        <h1 class="text-center">@ViewBag.Title.</h1>
    </hgroup>
    <div>
        <p class="text-center">
            Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </p>
    </div>
</div>