@{
    ViewBag.Title = "Scanner";
}

<main class="container text-center">
    <section id="content">
        <div class="mb-4 mt-4">
            <div class="text-center phenomena-sm-two"> QR-CODE SCANNER</div>
            <hr style="width:60vw"/>
        </div>
        <div class="vidQrScabbercontainer">
            <video id="video" class="videoQrCode"></video>
        </div>
        <div class="">
            <button class="btn btn-primary pl-5 pr-5 pt-2 pb-2 mt-3 phenomena-sm-two" id="changeSourceButton" style="display: none;">
                <i class="fas fa-camera"></i>
            </button>
            <p class="mt-3 phenomena-sm"> Switch Camera Sides</p>
        </div>
    </section>
    <div id="myModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 id="myModalTitle" class="phenomena text-center"></h5>
                </div>
                <div class="mt-2 text-center" style="font-size: 5rem">
                    <i id="modalIcon"></i>
                </div>
                <div class="modal-body">
                    <p id="myModalBody" class=" phenomena text-center" style="color: black"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</main>

@section Scripts{
    <script type="text/javascript" src="https://unpkg.com/&#64;zxing/library@0.18.6/umd/index.js"></script>
    @Scripts.Render("~/bundles/Scanner")
}