@{
    ViewBag.Title = "Home";
}

<div class="containerOneAdmin">
    @*<h1>Components</h1>
    <p>Give Hameburger a diffrent z-index vaule to not be affected by the sidebar expanding</p>
    <div class="headersidebar" id="header">
        <div class="header__toggle text-secondary">
            <i class="fas fa-bars" id="header-toggle"></i>
        </div>
    </div>*@
    <iframe class="" width="100%" height="1700" style="border: 0;"
            src="https://datastudio.google.com/embed/reporting/b0278618-426d-42e3-877b-fb9de0f4a182/page/PcXTB" 
            frameborder="0" allowfullscreen>
    </iframe>
</div>
